[submodule "ext/cloog"]
	path = ext/cloog
	url = ../cloog.git
	branch = toolchain/develop
[submodule "ext/gmp"]
	path = ext/gmp
	url = ../gmp.git
	branch = toolchain/gmp-6.2-branch
[submodule "ext/isl"]
	path = ext/isl
	url = ../isl.git
	branch = toolchain/develop
[submodule "ext/mpc"]
	path = ext/mpc
	url = ../mpc.git
	branch = toolchain/develop
[submodule "ext/mpfr"]
	path = ext/mpfr
	url = ../mpfr.git
	branch = toolchain/develop
[submodule "ext/binutils"]
	path = ext/binutils
	url = ../binutils.git
	branch = toolchain/develop
[submodule "ext/gcc"]
	path = ext/gcc
	url = ../gcc.git
	branch = toolchain/gcc-13-branch
